// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

:root {
  --form-bg-color: rgba(161, 193, 233, 0.75);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  color: var(--ep-color-primary);
}
.container {
  margin: 5px;
  border: 1px solid var(--el-border-color);
  border-radius: 5px;
  padding: 5px;
}
.shadow{
  box-shadow: var(--el-box-shadow-light);
}
.header_title {
  margin: 20px;
}
.hidoverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

.v-note-panel{
  border:none !important;
  background-color: var( --el-bg-color) !important;
}

textarea,
.v-note-op,
.v-note-edit,
.content-input-wrapper,
.popup-dropdown,
.add-image-link,
.v-show-content{
  background-color: var( --el-bg-color) !important;
  color:var(--el-text-color-primary) !important;
}
.markdown-body table td, .markdown-body table th {
  background-color: var(--el-bg-color-overlay) !important;
  color:var(--el-text-color-primary) !important;
}

.op-icon.selected{
  background-color: var( --el-menu-active-color) !important;
} 